.curved-main-container {
    background-color: #fffef2;
}

.curved {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-radius: 18px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 100% 150%;
    border-bottom-left-radius: 100% 150%;
}