
.next-level-container{
    background-color: #fbdc00;
    margin: 0;
    margin-bottom: 50px;
    padding-left: 56px;
    padding-right: 40px;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.next-level-heading{
    font-size: 28px;
    letter-spacing: 0.5px;
    font-weight: 900;
    margin: 0;
}