.one-stop-main-container {
    background-color: #fffef3;
    padding-inline: 56px;
    padding-bottom: 16px;
    padding-top: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.one-stop-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 584px;
}

.one-stop-heading-container{
    margin-bottom: 10px;
}

.one-stop-heading {
    font-size: 40px;
    margin: 0;
}

.one-stop-subheading{
    font-size: 14px;
}

.one-stop-image{
    width: 500px;
    color: transparent;
}